{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container" style="margin-top:-40px">

  <!--              -->
  <!--              -->
  <!-- PHASE BANNER -->
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        Beta
      </strong>
      <span class="govuk-phase-banner__text">
        <a class="govuk-link" href="#">Contact the Find a Tender team (opens in new tab)</a> if you have feedback, questions or suggestions.
      </span>
    </p>
  </div>

  <!--<a href="#" class="govuk-back-link">Back</a>-->

  <main class="govuk-main-wrapper">

    <!--             -->
    <!--             -->
    <!-- BLUE HEADER -->
    <div class="govuk-grid-row" style="background:#1d70b8; padding-top:30px;padding-bottom:20px;margin-bottom:45px">
      <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl" style="color:#fff">Buyer View</h1>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body" style="color:#fff">
              Find out more about your organisation details or undertake other actions to facilitate your procurement process.
            </p>
          </div>
        </div>

      </div>
    </div>

    <!--       -->
    <!--       -->
    <!-- TILES -->
    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-third">
        <div style="border:1px solid #b1b4b6; background:#f3f2f1; padding: 15px 15px 0 15px">
          <h3 class="govuk-heading-m"><a href="../../buyer-parent-child/Version_1/index.html" class="govuk-link" style="text-decoration: none;">View your organisation details</a></h3>
          <p class="govuk-body">View and manage the details of your organisation.</p>
        </div>
      </div>

      <div class="govuk-grid-column-one-third">
        <div style="border:1px solid #b1b4b6; background:#f3f2f1; padding: 15px 15px 0 15px">
          <h3 class="govuk-heading-m"><a href="../../PPON/MVP_1a/index.html" class="govuk-link" style="text-decoration: none;">Public procurement organisation number (PPON) register</a></h3>
          <p class="govuk-body">Search for an organisation’s PPON number.</p>
        </div>
      </div>

      <div class="govuk-grid-column-one-third">
        <div style="border:1px solid #b1b4b6; background:#f3f2f1; padding: 15px 15px 0 15px">
          <h3 class="govuk-heading-m"><a href="#" class="govuk-link" style="text-decoration: none;">Statement of work assurance tool</a></h3>
          <p class="govuk-body">Service description to be updated by AI team.</p>
        </div>
      </div>

    </div>

  </main>
</div>

{% endblock %}
