{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <!--<a href="#" class="govuk-back-link">Back</a>-->
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <span class="govuk-caption-xl">Caption</span>
        <h1 class="govuk-heading-xl">The Big Org Name</h1>

        <div class="govuk-inset-text">
          Ut enim ad minim veniam, quis nostrud exercitation
        </div>

      </div>
    </div>

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-third">
        <div style="border:1px solid #b1b4b6; background:#f3f2f1; padding: 15px 15px 0 15px">
          <h3 class="govuk-heading-m"><a href="../buyer-parent-child/Version_1/index.html" class="govuk-link" style="text-decoration: none;">View your organisation details</a></h3>
          <p class="govuk-body">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
      </div>

      <div class="govuk-grid-column-one-third">
        <div style="border:1px solid #b1b4b6; background:#f3f2f1; padding: 15px 15px 0 15px">
          <h3 class="govuk-heading-m"><a href="#" class="govuk-link" style="text-decoration: none;">Child organisations</a></h3>
          <p class="govuk-body">Nunc dictum tellus sem, vestibulum blandit nunc lobortis non gravida congue ipsum lobortis et augue ac euismod.</p>
        </div>
      </div>

      <div class="govuk-grid-column-one-third">
        <div style="border:1px solid #b1b4b6; background:#f3f2f1; padding: 15px 15px 0 15px">
          <h3 class="govuk-heading-m"><a href="../ROCT/ROCT.html" class="govuk-link" style="text-decoration: none;">Register of Commercial Tools</a></h3>
          <p class="govuk-body">Cras hendrerit laoreet mauris, et ultricies massa interdum ut molestie ipsum ut facilisis posuere at metus vitae faucibus.</p>
        </div>
      </div>

    </div>

    <div class="govuk-grid-row" style="margin-top:30px">

      <div class="govuk-grid-column-one-third">
        <div style="border:1px solid #b1b4b6; background:#f3f2f1; padding: 15px 15px 0 15px">
          <h3 class="govuk-heading-m"><a href="#" class="govuk-link" style="text-decoration: none;">FTS search</a></h3>
          <p class="govuk-body">Morbi at suscipit justo donec quis justo tellus fusce enim massa, maximus eget molestie quis, vehicula vel augue.</p>
        </div>
      </div>

      <div class="govuk-grid-column-one-third">
        <div style="border:1px solid #b1b4b6; background:#f3f2f1; padding: 15px 15px 0 15px">
          <h3 class="govuk-heading-m"><a href="../PPON/Version_1/index_v1.html" class="govuk-link" style="text-decoration: none;">PPON register</a></h3>
          <p class="govuk-body">Quisque blandit tellus ac sapien rutrum vehicula praesent vel gravida felis, vel semper magna vel vestibulum libero, vestibulum molestie magna.</p>
        </div>
      </div>

      <div class="govuk-grid-column-one-third">
        <div style="border:1px solid #b1b4b6; background:#f3f2f1; padding: 15px 15px 0 15px">
          <h3 class="govuk-heading-m"><a href="#" class="govuk-link" style="text-decoration: none;">AI tool</a></h3>
          <p class="govuk-body">Etiam eros ante, tincidunt quis consectetur a maximus id quam ullamcorper sapien.</p>
        </div>
      </div>

    </div>
  </main>
</div>

{% endblock %}
