{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <!--                                  -->
  <!--                                  -->
  <!-- BREADRUMBS AND LANGUAGE SELECTOR -->
  <div class="govuk-grid-row" style="margin-top:-30px; margin-bottom:30px">
    <div class="govuk-grid-column-one-half">
      <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="javascript:history.back()">Home</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-body-s" href="#" style="color:#0b0c0c;text-decoration: none;">Organisation Name</a>
          </li>
        </ol>
      </nav>
    </div>
    <div class="govuk-grid-column-one-half" style="text-align: right;margin-top:15px">
      <span class="govuk-body-s">English</span> | <a href="#" class="govuk-link" style="color:#0b0c0c">Cymraeg</a>
    </div>
  </div>

  <!--              -->
  <!--              -->
  <!-- MAIN CONTENT -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% for orgOne in data['Organisation One'] %}

      <strong class="govuk-tag govuk-tag--turquoise" style="margin-top:0;margin-bottom:10px;">
        {{orgOne.tag}}
      </strong>

      <h1 class="govuk-heading-l">
        {{orgOne.name}}
      </h1>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-!-padding-bottom-6">

          <p class="govuk-body govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold govuk-!-padding-top-4">Organisation type</span>&nbsp;  {{orgOne.org_type}}</p>
          <p class="govuk-body govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">PPON number</span>&nbsp; {{orgOne.PPON_number}}</p>
          <p class="govuk-body govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">PPON registration date</span>&nbsp; {{ orgOne.date_of_registration}}</p>
          <p class="govuk-body"><span class="govuk-!-font-weight-bold">Address</span>&nbsp; {{ orgOne.address}}</p>

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

          <p class="govuk-body govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Lorem ipsum dolor</span>&nbsp; Sit amet</p>
          <p class="govuk-body govuk-!-margin-bottom-1"><span class="govuk-!-font-weight-bold">Lorem ipsum dolor</span>&nbsp; Sit amet</p>
          <p class="govuk-body"><span class="govuk-!-font-weight-bold">Lorem ipsum dolor</span>&nbsp; Sit amet</p>

        </div>
      </div>

    </div>
    <div class="govuk-grid-column-one-third">
      <!--
      <div style="border-top: 5px solid #1d70b8	; padding-top:10px">
        <h3 class="govuk-heading-s">Heading to be confirmed</h3>
        <p class="govuk-body">content to be confirmed</p>
        <p class="govuk-body">content to be confirmed</p>
        <p class="govuk-body">content to be confirmed</p>
      </div>
      -->
    </div>
  </div>
  
  <style>
    .ppon-panel {
      background-color: #f3f2f1;
      padding: 15px;
    }
  </style>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">
      <div class="ppon-panel">
        <h3 class="govuk-heading-s">Additional content</h3>
        <p class="govuk-body">To be confirmed</p>
      </div>
    </div>

    <div class="govuk-grid-column-one-third">
      <div class="ppon-panel">
        <h3 class="govuk-heading-s">Additional content</h3>
        <p class="govuk-body">To be confirmed</p>
      </div>
    </div>

    <div class="govuk-grid-column-one-third">
      <div class="ppon-panel">
        <h3 class="govuk-heading-s">Additional content</h3>
        <p class="govuk-body">To be confirmed</p>
      </div>
    </div>

  </div>

  <div class="govuk-grid-row" style="margin-top:30px">

    <div class="govuk-grid-column-one-third">
      <div class="ppon-panel">
        <h3 class="govuk-heading-s">Additional content</h3>
        <p class="govuk-body">To be confirmed</p>
      </div>
    </div>

    <div class="govuk-grid-column-one-third">
      <div class="ppon-panel">
        <h3 class="govuk-heading-s">Additional content</h3>
        <p class="govuk-body">To be confirmed</p>
      </div>
    </div>

    <div class="govuk-grid-column-one-third">
      <div class="ppon-panel">
        <h3 class="govuk-heading-s">Additional content</h3>
        <p class="govuk-body">To be confirmed</p>
      </div>
    </div>

  </div>

  {% endfor %}

{% endblock %}
