{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<!--                                  -->
<!--                                  -->
<!-- BREADRUMBS AND LANGUAGE SELECTOR -->
  <div class="govuk-grid-row" style="margin-top:-15px; margin-bottom:30px">
    <div class="govuk-grid-column-one-half">
      <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="index">Home</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Organisation</a>
          </li>
        </ol>
      </nav>
    </div>
    <div class="govuk-grid-column-one-half" style="text-align: right;">
      <a href="#" class="govuk-link">English</a> | <a href="#" class="govuk-link" style="color:#0b0c0c">Cymraeg</a>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Organisation page to be confirmed
      </h1>

      <p>
        Coming soon...
      </p>

    </div>
  </div>

{% endblock %}
