{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <!--                                   -->
  <!--                                   -->
  <!-- BREADCRUMBS AND LANGUAGE SELECTOR -->
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-!-padding-top-0 govuk-!-padding-bottom-0" style="margin-top:-15px;margin-bottom:-15px">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <a href="#" class="govuk-back-link" style="color:#0b0c0c;text-decoration: none;margin-top:0">Back</a>
        </div>
        <div class="govuk-grid-column-one-half" style="text-align: right;">
          <span class="govuk-body-s">English</span> | <a href="#" class="govuk-link" style="color:#0b0c0c">Cymraeg</a>
        </div>
      </div>
    </main>
  </div>

  <!--              -->
  <!--              -->
  <!-- MAIN CONTENT -->
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">

        <!--                -->
        <!--                -->
        <!-- LEFT COL START -->
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">[Organisation Name]</h1>

          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m govuk-!-padding-top-5">Organisation details</caption>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Companies House number</th>
                <td class="govuk-table__cell">9876277</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">&nbsp</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Registry and number</th>
                <td class="govuk-table__cell">Charity Commission for England and Wales<br>73992884</td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">Change</a></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Organisation name</th>
                <td class="govuk-table__cell">[Organisation Name]</td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">Change</a></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Organisation email</th>
                <td class="govuk-table__cell">info@randomlimited.co.uk</td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">Change</a></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Organisation address</th>
                <td class="govuk-table__cell">17 Neptune Close<br/>Cosmos Park<br/>Galaxshire<br/>ZX9 8XY<br/>United Kingdom</td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">Change</a></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Organisation type</th>
                <td class="govuk-table__cell">Central government, public authority; UK, Scottish, Welsh and Northern Ireland Executive</td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">Change</a></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Devolved reqgion</th>
                <td class="govuk-table__cell">Northern Ireland</td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">Change</a></td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Data sharing agreement</th>
                <td class="govuk-table__cell">Agreed on 2 January 2025</td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">View</a></td>
              </tr>
            </tbody>
          </table>

          <h3 class="govuk-heading-m govuk-!-padding-top-5">Child organisations</h3>
          <p class="govuk-body">You have not added any child organisations. If you would like to add a child organisation select the link below</p>
          <p class="govuk-body"><a class="govuk-link" href="#">Add a child organisation</a></p>

          <h3 class="govuk-heading-m govuk-!-padding-top-8">Other</h3>

          <p class="govuk-body govuk-!-margin-bottom-2"><a class="govuk-link" href="#">Manage API keys</a></p>
          <p class="govuk-body">Create an API key and share it with the e-Sender you use to publish procurement notices.</p>

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

          <p class="govuk-body govuk-!-margin-bottom-2"><a class="govuk-link" href="#">Manage users</a></p>
          <p class="govuk-body">View, add or remove users.</p>

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

          <p class="govuk-body govuk-!-margin-bottom-2"><a class="govuk-link" href="#">Register as a supplier</a></p>
          <p class="govuk-body">If you also supply goods, works, services or utilities to the public sector.</p>

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        </div>
        <!-- LEFT COL END -->
        <!--              -->
        <!--              -->

        <!--                 -->
        <!--                 -->
        <!-- RIGHT COL START -->
        <div class="govuk-grid-column-one-third">
          <div class="govuk-!-padding-4" style="background-color:#f3f2f1">
            <p class="govuk-body-s govuk-!-margin-bottom-0" style="color:#505a5f">Public procurement organisation number (PPON)</p>
            <h2 class="govuk-heading-m">DRFI-1747-YZZC-EW</h2>
            <details class="govuk-details govuk-!-margin-bottom-1">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text govuk-body-s">
                  Help with PPON
                </span>
              </summary>
              <div class="govuk-details__text govuk-body-s">
                Text to be confirmed.
              </div>
            </details>
          </div>
        </div>
        <!-- RIGHT COL END -->
        <!--               -->
        <!--               -->

      </div>

    </main>
  </div>

{% endblock %}
