{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      PPoN Register
    </h1>

    <h2 class="govuk-heading-l">Design prototypes</h2>

    <h3 class="govuk-heading-m">Version 1 - current version</h3>

   <a class="govuk-button" href="/PPON/Version_1/index.html">View prototype</a>



    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3">Changelog</p>

    <p class="govuk-body-s govuk-!-font-weight-bold govuk-!-margin-bottom-1">2 June 2025</p>
    <ul class="govuk-body-s govuk-list govuk-list--bullet">
      <li>Content updates</li>
      <li>Organisation filters updated</li>
      <li>Added PPON registration date</li>
      <li>Added organisation address</li>
      <li>Updated the sorting options</li>
      <li>Updated inset text and removed the left border</li>
    </ul>

    <p class="govuk-body-s govuk-!-font-weight-bold govuk-!-margin-bottom-1">23 May 2025</p>
    <ul class="govuk-body-s govuk-list govuk-list--bullet">
      <li>Updated the key work filters help text</li>
      <li>Made some quick updates following review with Cabinet Office (more to come)</li>
    </ul>

    <p class="govuk-body-s govuk-!-font-weight-bold govuk-!-margin-bottom-1">22 May 2025</p>
    <ul class="govuk-body-s govuk-list govuk-list--bullet">
      <li>Updated the organisation details screen with additional placeholder content</li>
      <li>Fixed bugs with the breadcrumb display</li>
      <li>Fixed bugs with the language selector display</li>
    </ul>

    <p class="govuk-body-s govuk-!-font-weight-bold govuk-!-margin-bottom-1">21 May 2025</p>
    <ul class="govuk-body-s govuk-list govuk-list--bullet">
      <li>Fixed issue with the layout icons</li>
      <li>Added buttons to filters</li>
      <li>Added a data dump to view data that has been loaded</li>
      <li>Simplified ow clear data works</li>
      <li>Added organisation placeholder page</li>
      <li>Updated the filters and data to remove SME and Individual options</li>
      <li>Updated the PPON description text</li>
      <li>Fixed bug where the data dump wasn't opening in a new window</li>
      <li>Adjusted spacings in the results list view</li>
    </ul>

    <p class="govuk-body-s govuk-!-font-weight-bold govuk-!-margin-bottom-1">20 May 2025</p>
    <ul class="govuk-body-s govuk-list govuk-list--bullet">
      <li>Created initial design prototype</li>
    </ul>

    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-top-6 govuk-!-margin-bottom-3">Code</p>

    <p class="govuk-body-s govuk-!-font-weight-bold govuk-!-margin-bottom-1"><a href="https://github.com/blackmonday/CDP" target="new">View on GitHub</a></p>

  </div>
</div>

{% endblock %}
