{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Buyer-Parent Child
    </h1>

    <h2 class="govuk-heading-l">Design prototypes</h2>

    <h3 class="govuk-heading-m">Version 1 - current version</h3>

    <!--{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

    {{ govukWarningText({
      text: "This creation of this prototype is currently in progress.",
      iconFallbackText: "Please note"
  }) }}-->

    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-top-8 govuk-!-margin-bottom-3">Current prototypes</p>
    <p class="govuk-body"><a href="/buyer-parent-child/MVP_1/index.html">View MVP 1</a></p>
    
    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3">Change log</p>

    <p class="govuk-body-s govuk-!-font-weight-bold govuk-!-margin-bottom-1">25 June 2025</p>
    <ul class="govuk-body-s govuk-list govuk-list--bullet">
      <li>Updates following content review with client</li>
    </ul>

    <p class="govuk-body-s govuk-!-font-weight-bold govuk-!-margin-bottom-1">24 June 2025</p>
    <ul class="govuk-body-s govuk-list govuk-list--bullet">
      <li>Updated content on search page</li>
      <li>Removed the word 'child' from the text below the h1 on search results</li>
      <li>Removed the back breadcrumb on success</li>
      <li>Added column headings to the child orgs list</li>
    </ul>

    <p class="govuk-body-s govuk-!-font-weight-bold govuk-!-margin-bottom-1">23 June 2025</p>
    <ul class="govuk-body-s govuk-list govuk-list--bullet">
      <li>Spacing tweaks to search for your child organisation screen</li>
      <li>Content udpates</li>
    </ul>

    <p class="govuk-body-s govuk-!-font-weight-bold govuk-!-margin-bottom-1">20 June 2025</p>
    <ul class="govuk-body-s govuk-list govuk-list--bullet">
      <li>Updated following UCD review</li>
    </ul>

    <p class="govuk-body-s govuk-!-font-weight-bold govuk-!-margin-bottom-1">17 June 2025</p>
    <ul class="govuk-body-s govuk-list govuk-list--bullet">
      <li>Search bar page title - this has now changed to 'Search for your child organisation’ rather than ‘Add a Child Organisation’ upon client feedback</li>
      <li>The search results page - should be the number 2 not Two on this - 'Two child organisations found for ...’ </li>
    </ul>

    <p class="govuk-body-s govuk-!-font-weight-bold govuk-!-margin-bottom-1">11 June 2025</p>
    <ul class="govuk-body-s govuk-list govuk-list--bullet">
      <li>Fixed spelling errors in 'what is a chld organisation?'</li>
      <li>Additional content updates</li>
      <li>Content updated for 'what is a child organsiation?'</li>
      <li>Add a child organiation inset text updated</li>
    </ul>

    <p class="govuk-body-s govuk-!-font-weight-bold govuk-!-margin-bottom-1">6 June 2025</p>
    <ul class="govuk-body-s govuk-list govuk-list--bullet">
      <li>Content updates after UCD review</li>
      <li>Content updates</li>
      <li>Updated the inset text on add a child organisation screen</li>
    </ul>

    <p class="govuk-body-s govuk-!-font-weight-bold govuk-!-margin-bottom-1">5 June 2025</p>
    <ul class="govuk-body-s govuk-list govuk-list--bullet">
      <li>Updated the organisation details screen to use data</li>
      <li>Exploring ideas for how to best display the additioanl text when adding a child organisation</li>
      <li>Updated the search field so what it entered is shown on the search results screen</li>
      <li>Fixed spacing and separation for the bottom half of the organisation details screen</li>
      <li>Updated content when a child organsiation is added</li>
      <li>Updated organisation details screen</li>
    </ul>

    <p class="govuk-body-s govuk-!-font-weight-bold govuk-!-margin-bottom-1">4 June 2025</p>
    <ul class="govuk-body-s govuk-list govuk-list--bullet">
      <li>Added logic to the organsiation details screen to show when a child organisation is removed</li>
      <li>Added logic to the organsiation details screen to show when a child organisation is added</li>
      <li>Created the 'success' screen</li>
      <li>Created the 'Comfirm child organsiation details' screen</li>
      <li>Changed inset text to normal text on the search results screen</li>
    </ul>

    <p class="govuk-body-s govuk-!-font-weight-bold govuk-!-margin-bottom-1">3 June 2025</p>
    <ul class="govuk-body-s govuk-list govuk-list--bullet">
      <li>Fixed an issue where data was deleted</li>
      <li>First two search screens created</li>
      <li>Organisation details screen created</li>
      <li>Initial prototype foundation framework created</li>
    </ul>

    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-top-8 govuk-!-margin-bottom-3">Previous prototypes</p>
    <a class="govuk-button" href="/buyer-parent-child/Version_1/index.html">Version 1</a>

  </div>
</div>

{% endblock %}
