{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Buyer view
    </h1>

    <h2 class="govuk-heading-l">Design prototypes</h2>

    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-top-8 govuk-!-margin-bottom-3">Current prototypes</p>
    <p class="govuk-body"><a href="/buyer-view/MVP_1a/index.html">View MVP 1a</a> - blue header</p>
    <p class="govuk-body"><a href="/buyer-view/MVP_1b/index.html">View MVP 1b</a></p>
    
    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-top-8 govuk-!-margin-bottom-3">Change log</p>

    <p class="govuk-body-s govuk-!-font-weight-bold govuk-!-margin-bottom-1">3 July 2025</p>
    <ul class="govuk-body-s govuk-list govuk-list--bullet">
      <li>Updated the tiles content.</li>
    </ul>

    <p class="govuk-body-s govuk-!-font-weight-bold govuk-!-margin-bottom-1">19 June 2025</p>
    <ul class="govuk-body-s govuk-list govuk-list--bullet">
      <li>Updated the What is a child organisation? content</li>
      <li>Created two versions with different header styles</li>
      <li>Added URL to child org (goes to that part of the organisation details screen)</li>
      <li>Added URL to FTS</li>
      <li>The initial buyer view prototype created.</li>
    </ul>

    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-top-8 govuk-!-margin-bottom-3">Previous prototypes</p>
    <p class="govuk-body"><a href="/buyer-view/version_1/index.html">Version 1</p>

  </div>
</div>

{% endblock %}
