{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Cabinet Office prototypes
    </h1>

    <p class="govuk-body"><a href="index-PPON.html">Public procurement organisation number (PPON)</a></p>
    <p class="govuk-body"><a href="index-buyer-parent-child.html">Buyer-Parent Child</a></p>
    <p class="govuk-body"><a href="index-ROCT.html">ROCT</a></p>

    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-top-8 govuk-!-margin-bottom-1">Code</p>
    <p class="govuk-body-s govuk-!-margin-bottom-1"><a href="https://github.com/blackmonday/CDP" target="new">View on GitHub</a></p>

  </div>
</div>

{% endblock %}
