{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <h2 class="govuk-heading-l">Design prototypes</h2>

    <h3 class="govuk-heading-m">Version 1 - current version</h3>

    <p class="govuk-body"><a href="/PPON/Version_1/index.html">View prototype</a></p>

    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3">Changelog</p>

    <p class="govuk-body-s govuk-!-font-weight-bold govuk-!-margin-bottom-1">20 May 2025</p>
    <ul class="govuk-body-s govuk-list govuk-list--bullet">
      <li>Created initial design prototype</li>
    </ul>

  </div>
</div>

{% endblock %}
