{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Register of Commercial Tools (ROTC)
    </h1>

    <h2 class="govuk-heading-l">Design prototypes</h2>

    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-top-8 govuk-!-margin-bottom-3">Current prototypes</p>
    <p class="govuk-body"><a href="/ROCT/MVP_1a/index.html">View MVP 1a</a></p>
    <p class="govuk-body"><a href="/ROCT/MVP_1b/index.html">View MVP 1b</a> - work in progress to replace 1a</p>
    
    <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-top-8 govuk-!-margin-bottom-3">Change log</p>


    <p class="govuk-body-s govuk-!-font-weight-bold govuk-!-margin-bottom-1">24 June 2025</p>
    <ul class="govuk-body-s govuk-list govuk-list--bullet">
      <li>Added the work in progress version 1b</li>
    </ul>
    
    <p class="govuk-body-s govuk-!-font-weight-bold govuk-!-margin-bottom-1">23 June 2025</p>
    <ul class="govuk-body-s govuk-list govuk-list--bullet">
      <li>Further content updates and tweaking the filters</li>
      <li>Content updates</li>
      <li>Changed layout again to be back to more like PPON</li>
      <li>Adjusted the layout look more like FTS</li>
    </ul>

    <p class="govuk-body-s govuk-!-font-weight-bold govuk-!-margin-bottom-1">20 June 2025</p>
    <ul class="govuk-body-s govuk-list govuk-list--bullet">
      <li>Created MVP version</li>
    </ul>

    <p class="govuk-body-s govuk-!-font-weight-bold govuk-!-margin-bottom-1">10 June 2025</p>
    <ul class="govuk-body-s govuk-list govuk-list--bullet">
      <li>ROTC prototypes copied and added.</li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h4 class="govuk-body-s govuk-!-font-weight-bold">Previous design prototypes</h4>
    <p class="govuk-body-s"><a href="ROCT/version_1/ROCT.html">ROCT version 1</a><br>
    <a href="ROCT/version_1/ROCT-A.html">ROCT-A</a><br>
    <a href="ROCT/version_1/three-column-filtering.html">Three column filtering</a><br>
    <a href="ROCT/version_1/filtering.html">Filtering</a><br>
    <a href="ROCT/version_1/filters-v2.html">Filtering v2</a></p>

  </div>
</div>

{% endblock %}
